{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container center">
        <h1>Espace Connexion</h1>
        <form method="post" class="">
            {% if error %}
               <div class="alert alert-danger alert-dismissible" role="alert">
                   <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                   <strong>Warning!</strong> {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            
            {% endif %}          


             <div class="form-group">
                                  <label for="email">Email address</label>
                                  <input type="email" value="" name="email" id="inputEmail" class="form-control" required autofocus placeholder="Adresse email">
    
             </div><br/>

             <div class="form-group">

                      <label for="email">Password</label>

                      <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Mot de passe">

            </div><br/>
             

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html

                <div class="checkbox mb-3">
                    <label>
                        <input type="checkbox" name="_remember_me"> Remember me
                    </label>
                </div>
            #}

            <div class="form-group">

                <input type="submit" class="btn btn-primary" value="Me connecter">
            </div>
        </form>
    </div>
{% endblock %}